doctype html
html
head
  title= title
  link(rel='stylesheet' type='text/css' href='assets/build/style/style.min.css')
  link(rel='stylesheet' href='assets/build/bower/font-awesome/css/font-awesome.min.css')
  meta(name='author' content='Will Kent-Daggett')
  meta(name='description' content='Will Kent-Daggett is a web developer working in Los Angeles')
  meta(name='keywords' content='will kent-daggett, will kent daggett')

body
  .container
    #header
      h1
        a(href='/')= title
      ul
        each item in contact
          if item.name == 'email'
            - var mailUrl = 'mailto:' + item.url
            span
              i.fa.fa-envelope-o
          else if item.name == 'address'
            span
              i.fa.fa-map-marker

          li
            if item.name == 'email'
              a(href=mailUrl)
                span= item.url
            else
              span= item.url
        each item in profiles
          if item.name == 'GitHub'
            span: i.fa.fa-github
            li: a(target="_blank" href=item.url) #{item.usn}
          else
            li #{item.name}: 
              a(target="_blank" href=item.url) #{item.usn}
      p#about= about
          
    #projects
      h1
        a(href='#projects') Projects &#8623; 
      each proj in projects
        .project
        
          h2= proj.name
            if proj.url
              span 
                a(href=proj.url target='_blank') &#10548;
          //- if !proj.url
          //-   h2= proj.name
          //- else
          //-   a(href=proj.url)
          //-     h2 #{proj.name} &#10548;
          if proj.images
            .images
              table.images
                tr
                  each i in proj.images
                    td
                      a(href=i target='_blank')
                        img(src=i)
          p= proj.blurb
            if proj.links
              each l in proj.links
                span 
                  a(href=l.url target='_blank') #{l.link_text} &#8620;
            if proj.source
              span 
                a(href=proj.source target='_blank') View on Github &#8620;

  script(src='assets/build/bower/jquery/dist/jquery.min.js')
  script(src='assets/build/scripts/scripts.min.js')
